.content-slider-section2 {
  padding: 70px 0;
  background: #79b900;
  background-size: cover;
  position: relative;
  z-index: 1;
  --duration: 30s;
  --gap: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  gap: 50px;
}

.content-slider2 {
  text-align: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  gap: 50px;
  min-width: 100%;
  -webkit-animation: scroll 50s linear infinite;
  animation: scroll 50s linear infinite;
}

.content-slider-content2 {
  position: relative;
  --duration: 50s;
  --gap: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  gap: 0px;
}

.content-slider-content2 h1 {
  font-size: 100px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Albert Sans", "sans-serif";
  color: transparent;
  -webkit-text-stroke: 0.8px #fff;
  -webkit-text-stroke-width: 2px;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-100% - var(--gap)));
    transform: translateX(calc(-100% - var(--gap)));
  }
}
@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-100% - var(--gap)));
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .content-slider2 {
    gap: 20px;
  }

  .content-slider-content2 h1 {
    font-size: 30px;
    font-weight: 500;
    -webkit-text-stroke: 0.5px #fff;
    -webkit-text-stroke-width: 1px;
  }
}
